﻿@model SonyPassionWeb.Models.Xperia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Xperia</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.XperiaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
