﻿@model IEnumerable<SonyPassionWeb.Models.Xperia>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("_ViewNews", new SonyPassionWeb.Models.News(), ViewData)
@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.XperiaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.XperiaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.XperiaID })
        </td>
    </tr>
}

</table>*@
