﻿@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "SonyPassion")</li>
        <li>@Html.ActionLink("Forum", "Index", "Forum")</li>
        <li>@Html.ActionLink("Xperia", "Index", "Xperia")</li>
        <li>@Html.ActionLink("Headphones & Earbuds", "Index", "HeadphonesEarbuds")</li>
        <li>@Html.ActionLink("SmartWatch", "Index", "SmartWatch")</li>
        <li>@Html.ActionLink("Video", "Index", "Video")</li>
        <li>@Html.ActionLink("Spec", "Index", "Spec")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        
    </ul>
</aside>