﻿@model Blog_Application_4.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>





<h2>Comment</h2>
@Html.Partial("_AddComment", new Blog_Application_4.Models.Comment(), ViewData)
<fieldset>
    <legend>Comment</legend>
    @foreach (var com in Model.Comments.OrderByDescending(t => t.DateCreated).Take(10))
    {
        <div class="display-field">
           <h4> @Html.DisplayFor(c => com.Author)</h4>
        </div>
        <div class="display-field">
            <h5>Cách đây: @Html.DisplayFor(c => com.LastComment) phút</h5>
        </div>
        <div class="display-field">
            @Html.DisplayFor(c => com.Body)
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
