﻿@model SonyPassionWeb.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContentOfPost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContentOfPost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfPost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfPost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastPost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastPost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Thread.TitleOfThread)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Thread.TitleOfThread)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
