﻿@model IEnumerable<SonyPassionWeb.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentOfPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thread.TitleOfThread)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentOfPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thread.TitleOfThread)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>
