﻿@model SonyPassionWeb.Models.Post

<div class="display-field">
    <h5>@Html.DisplayFor(model => model.Author)</h5>
    <h5>Cách đây: @Html.DisplayFor(model => model.LastPost) phút</h5>
    @Html.DisplayFor(model => model.ContentOfPost)
</div>