﻿@model SonyPassionWeb.Models.Video

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Video</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.VideoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
