﻿@model SonyPassionWeb.Models.SmartWatch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SmartWatch</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SmartWatchID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
