﻿table
{
    border: 1px solid #D8D8D8;
    max-height: 999999em;
    width:100%;
    background: #F9F9F9;
}
.thread-title
{
    border: 1px solid #D8D8D8;
    width:80%;
    padding-right: 20px;
    padding-left: 10px;
}
.thread-info
{
    border: 1px solid #D8D8D8;
}
h3
{
    margin-top: 0px;
    padding-right: 15px;
}
.thread-info .a
{
    margin-top: -1px;
    margin-left: 10px;
}
tr:hover
{
    background: #ebebeb;
}