﻿table
{
    width: 100%;
    max-height: 999999em;
    background: #f9f9f9;
}
.title
{
    border: 1px solid #d8d8d8; 
    width: 100%;
    padding-left: 10px;
    padding-bottom:10px;
}
.author
{
    border: 1px solid #d8d8d8;
    width: 17%;
    padding: 7px;
    text-align: center;
    padding: 10px;
}
.time
{
   border: 1px solid #d8d8d8;
    background-color: #efefef;
    padding: 10px;
}

.content
{
    border: 1px solid #d8d8d8;
    width: 82%;
    padding: 10px;
    padding-bottom: 108px;
}
.table1 .content div
{
    /*border: 1px solid;*/
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 10px;
    line-height: 1.8em;
    font-size: 15px;
    text-align: justify;
    word-wrap: break-word;
    width: 97%;
}
.table2 .content div
{
    /*border: 1px solid;*/
    margin-top: 0px;
    padding: 10px;
    line-height: 1.8em;
    font-size: 15px;
    text-align: justify;
    word-wrap: break-word;
    width: 97%;
}

h3
{
    padding-top: 0px;
    margin-top: 10px;

}
.other
{
    border: 1px solid #d8d8d8;
}
.replay
{
    border: 1px solid #d8d8d8;
}
.box
{  
    max-height: 999999em;
    width: 100%;
    margin-bottom: 10%;
    background: #ffffff;
    box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;
    border: 1px solid #d3d3d3;
}