﻿.box
{  
    max-height: 999999em;
    width: 100%;
    margin-bottom: 10%;
    background: #f9f9f9;
    box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;
    border: 1px solid #d3d3d3;
}
.news-title
{
    padding-top: 1px;
    max-height: 999999em;
    padding-left: 10px;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;
}
.news-content
{
    padding: 10px;
    max-height: 999999em;    
    line-height: 1.8em;
    font-size: 15px;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;
}
.news-tag
{
    max-height: 999999em;
    padding: 10px;
}
h2
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.Text-Wrap
{
    float:left;
    margin: 10px;
}
p
{
    margin-top: 0px;
    font-size: 15px;
    line-height: 1.8em;
    text-align: justify;
}
.news-info
{
     font-style: italic;
    color: grey;
}