﻿.box
{
    margin-top: 20px;
    border: 1px solid #d8d8d8;
    max-height: 999999em;
    width: 100%;
    background: #f9f9f9;
    box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;
}
h3
{
    margin-bottom: 5px;
    margin-top:0px;
    padding: 0px;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 5px;
}

.year
{
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
    max-height: 999999em;
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;
}
.model
{
    width: 100%;
    max-height: 999999em;
}