﻿.details
{
    border: 1px solid #d3d3d3;
    width: 100%;
    background: #f9f9f9;
    line-height: 1.8em;
}
.details1
{
    width: 100%;
}
td
{
    padding: 7px;
    border-bottom: 1px solid #d3d3d3;
    line-height: 1.8em;
    font-size: 15px;
}
td .end
{
    border-bottom: 0px;
  
}
.name
{
    width: 15%;
    border-right: 1px solid #d3d3d3;
    text-align: center;
    background: #efeeff;
}
.name1
{
    width: 15%;
    border-right: 1px solid #d3d3d3;
    padding: 5px;
}