﻿@model SonyPassionWeb.Models.Comment

<div class="display-field">
    <div class="display-field" style="display: inline; padding-right: 10px; font-size: 16px;">
        <b style="color:blue;">@Html.DisplayFor(model => model.Author)</b> - @Html.DisplayFor(model => model.LastComment) phút
    </div>
    <div style="font-size: 16px; padding-bottom: 10px;">
        @Html.DisplayFor(model => model.Content)
    </div>
</div>