﻿@model Blog_Application_4.Models.Comment

<div class="display-field">
    <h4> @Html.DisplayFor(model => model.Author)</h4>
</div>
<div class="display-field">
    <h5>Cách đây: @Html.DisplayFor(model => model.LastComment) phút</h5>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>