﻿@model SonyPassionWeb.Models.SpecDetails

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SpecDetails</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Display)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Display)
            @Html.ValidationMessageFor(model => model.Display)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ram)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ram)
            @Html.ValidationMessageFor(model => model.Ram)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Internal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Internal)
            @Html.ValidationMessageFor(model => model.Internal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Chipest)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Chipest)
            @Html.ValidationMessageFor(model => model.Chipest)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Battery)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Battery)
            @Html.ValidationMessageFor(model => model.Battery)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SpecID, "Spec")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SpecID", String.Empty)
            @Html.ValidationMessageFor(model => model.SpecID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
