﻿@model SonyPassionWeb.Models.SpecDetails
@Styles.Render("~/Content/Style6.css")
@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>

<fieldset>
    <legend>SpecDetails</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Display)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Display)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ram)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ram)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Internal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Internal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chipest)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chipest)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Battery)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Battery)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Spec.ModelName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spec.ModelName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SpecDetailsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
@*<div class="spec-table">
    <div class="spec-name">
        @Html.DisplayFor(model => model.Spec.ModelName)
    </div>
    <div class="box-spec">
        <div class="spec">
            <div class="name">
                @Html.DisplayNameFor(model => model.Display)
                <div class="spec-details">
                    @Html.DisplayFor(model => model.Display)
                </div>
                <div class="spec-details">
                    @Html.DisplayFor(model => model.Display)
                </div>
                <div class="spec-details">
                    @Html.DisplayFor(model => model.Display)
                </div>
                <div class="spec-details">
                    @Html.DisplayFor(model => model.Display)
                </div>
            </div>        
        </div>     
    </div>
</div>*@

<table class="details" border="1" cellpadding="2" cellspacing="0">
    <tr>
        <th colspan="2" style="padding: 10px; border-bottom: 1px solid #d3d3d3; font-size: 20px;">
            @Html.DisplayFor(model => model.Spec.ModelName)
        </th>
    </tr>
    <tr>
        <td class="name">DISPLAY</td>
        <td style="padding: 0px;">
            <table  class="details1" style="margin-top: 0px;">
                <tr>
                    <td class="name1">Type</td>
                    <td>IPS LCD capacitive touchsreen, 16M colors</td>
                </tr>
                <tr>
                    <td class="name1">Size</td>
                    <td>@Html.DisplayFor(model => model.Display)</td>
                </tr>
                <tr>
                    <td class="name1">Multitouch</td>
                    <td>Yes, up to 10 fingers</td>
                </tr>
                <tr>
                    <td class="name1">Protection</td>
                    <td>Shatter proof glass</td>
                </tr>
                <tr>
                    <td class="name1" rowspan="2" style="border-bottom: 0px;">
                    <td>
                        Triluminos Display
                </tr>
                <tr>
                    <td class="end">X-Reality Engine</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="name">BODY</td>
        <td style="padding: 0px;">
            <table class="details1" style="margin-top: 0px;">
                <tr>
                    <td class="name1">Dimensions</td>
                    <td>146 x 72 x 7.3 mm (5.75 x 2.83 x 0.29 in)</td>
                </tr>
                <tr>
                    <td class="name1">Weight</td>
                    <td>152 g (5.36 oz)</td>
                </tr>
                <tr>
                    <td class="name1" style="border-bottom: 0px;"></td>
                    <td class="end">- IP68 certified - dust proof and water resistant over 1 meter and 30 minutes</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="name">DATA</td>
        <td style="padding: 0px;">
            <table class="details1" style="margin-top: 0px;">
                <tr>
                    <td class="name1">GPRS</td>
                    <td>Up tp 107 kbps</td>
                </tr>
                <tr>
                    <td class="name1">EDGE</td>
                    <td>Up to 296 kbps</td>
                </tr>
                <tr>
                    <td class="name1">Speed</td>
                    <td>HSPA 42.2/5.76 Mbps, LTE Cat4 150/50 Mbps</td>
                </tr>
                <tr>
                    <td class="name1">WLAN</td>
                    <td>Wifi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, DLNA, hotspot</td>
                </tr>
                <tr>
                    <td class="name1">Bluetooth</td>
                    <td>v4.0, A2DP, apt-X</td>
                </tr>
                <tr>
                    <td class="name1">NFC</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td class="name1" style="border-bottom: 0px;">USB</td>
                    <td class="end">microUSB v2.0 (MHL 3 TV-out), USB Host</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="name">CAMERA</td>
        <td style="padding: 0px;">
            <table class="details1" style="margin-top: 0px;">
                <tr>
                    <td class="name1">Primary</td>
                    <td>20.7 MP, 5248 х 3936 pixels, autofocus, LED flash</td>
                </tr>
                <tr>
                    <td class="name1">Features</td>
                    <td>1/2.3'' sensor size, geo-tagging, touch focus, face detection, HDR, panorama</td>
                </tr>
                <tr>
                    <td class="name1">Video</td>
                    <td>2160p@30fps, 1080p@60fps, 720p@120fps, HDR</td>
                </tr>
                <tr>
                    <td class="name1" style="border-bottom: 0px;">Secondary</td>
                    <td class="end">2.2 MP, 1080p@30fps</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="name">SOUND</td>
        <td style="padding: 0px;">
            <table class="details1" style="margin-top: 0px;">
                <tr>
                    <td class="name1">Loundspeaker</td>
                    <td>Yes, with stereo speakers</td>
                </tr>
                <tr>
                    <td class="name1" style="border-bottom: 0px;">3.5mm jack</td>
                    <td class="end">Yes</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="name">MEMORY</td>
        <td style="padding: 0px;">
            <table class="details1" style="margin-top: 0px;">
                <tr>
                    <td class="name1">Ram</td>
                    <td>@Html.DisplayFor(model => model.Ram)</td>
                </tr>
                <tr>
                    <td class="name1" style="border-bottom: 0px;">Internal</td>
                    <td class="end">@Html.DisplayFor(model => model.Internal)</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="name">FEATURES</td>
        <td style="padding: 0px;">
            <table class="details1" style="margin-top: 0px;">
                <tr>
                    <td class="name1">OS</td>
                    <td>Android OS, v4.4.2 (KitKat), planned upgrade to v5.0 (Lollipop)</td>
                </tr>
                <tr>
                    <td class="name1">Chipest</td>
                    <td>@Html.DisplayFor(model => model.Chipest)</td>
                </tr>
                <tr>
                    <td class="name1">CPU</td>
                    <td> Quad-core 2.5 GHz Krait 400 </td>
                </tr>
                <tr>
                    <td class="name1">GPU</td>
                    <td>Adreno 330</td>
                </tr>
                <tr>
                    <td class="name1">Radio</td>
                    <td>FM radio with RDS</td>
                </tr>
                <tr>
                    <td class="name1">GPS</td>
                    <td>Yes, with A-GPS, GLONASS, Beidou</td>
                </tr>
                <tr>
                    <td class="name1" style="border-bottom: 0px;">Color</td>
                    <td class="end">White, Black, Purple</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="name" style="border-bottom: 0px;">@Html.DisplayNameFor(model => model.Battery)</td>
        <td style="padding: 0px;">
            <table class="details1" style="margin-top: 0px;">
                <tr>
                    <td class="name1" style="border-bottom: 0px;"></td>
                    <td class="end">@Html.DisplayFor(model => model.Battery)</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
