﻿@model IEnumerable<SonyPassionWeb.Models.SpecDetails>
@Styles.Render("~/Content/Style5.css")
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<div id="b" style=" border: 1px solid #d8d8d8; padding: 10px; width: 70px; text-decoration: none; background:#f9f9f9;">
    @Html.ActionLink("Create New", "Create")
</div>
    @*<table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Display)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ram)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Internal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Chipest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Battery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Spec.ModelName)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Display)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Internal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chipest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Battery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spec.ModelName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.SpecDetailsID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.SpecDetailsID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.SpecDetailsID })
                </td>
            </tr>
        }*@

    </table>

    <div class="box">
        <div class="year">
            <h3> Chọn mẫu máy </h3>
        </div>
        <div class="model">
            <ul>
                @foreach (var item in Model)
                {
                    <li style="font-size: 15px; line-height: 1.8em;">@Html.DisplayFor(modelItem => item.Spec.ModelName) <i style="text-decoration:underline; font-size: 13px; margin-right: 10px; margin-left: 5px;">@Html.ActionLink("Details", "Details", new { id = item.SpecDetailsID })</i><i style="text-decoration:underline; font-size: 13px;">@Html.ActionLink("Edit", "Edit", new { id = item.SpecDetailsID })</i></li>
                }
            </ul>
        </div>
    </div>
