﻿@model SonyPassionWeb.Models.Forum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Forum</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ForumModel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ForumModel)
    </div>
</fieldset>


<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ForumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
