﻿@model IEnumerable<SonyPassionWeb.Models.Forum>

@{
    ViewBag.Title = "Forum";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ForumModel)
        </th>
        <th></th>
    </tr>

</table>*@
@Styles.Render("~/Content/MyStyle.css")
<div id="XperiaZ3">
    <table width="500" height="320" cellpadding="2" cellspacing="0" border="1" class="tab">
        <tr>
            <th colspan="2" id="b">
                > Xperia Z3
            </th>
        </tr>
        <tr>
            <td rowspan="4" width="100" class="d" id ="e">
                <img src="../Images/XperiaZ3.jpg" />
            </td>
            <td class="d" id="f">
                <div class="a">
                    > @Html.ActionLink("General", "Index", "Thread")
                    <div class="c">
                        Discussion about the Xperia Z3 (general, tips & tricks, etc)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                    > @Html.ActionLink("Q & A, Help & Troubleshooting", "Index", "Thread")
                    <div class="c">
                        For all your questions about the Xperia Z3
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                    > @Html.ActionLink("Roms and Mods", "Index", "Thread")
                    <div class="c">Roms and mods for the Xperia Z3</div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                    > @Html.ActionLink("Themes and Apps", "Index", "Thread")
                    <div class="c">Themes and applications for the Xperia Z3</div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="XperiaZ3C">
    <table width="500" height="320" cellpadding="2" cellspacing="0" border="1" class="tab">
        <tr>
            <th colspan="2" id="b">
                > Xperia Z3 Compact
            </th>
        </tr>
        <tr>
            <td rowspan="4" width="100" class="d" id="e">
                <img src="../Images/XperiaZ3C.jpg" />
            </td>
            <td class="d" id="f">
                <div class="a">
                   > @Html.ActionLink("General", "Index", "Thread")
                    <div class="c">
                        Discussion about the Xperia Z3 Compact (general, tips & tricks, etc)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                   > @Html.ActionLink("Q & A, Help & Troubleshooting", "Index", "Thread")
                    <div class="c">
                        For all your questions about the Xperia Z3 Compact
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                   > @Html.ActionLink("Roms and Mods", "Index", "Thread")
                    <div class="c">Roms and mods for the Xperia Z3 Compact</div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                   > @Html.ActionLink("Themes and Apps", "Index", "Thread")
                    <div class="c">Themes and applications for the Xperia Z3 Compact</div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="XperiaZ2">
    <table width="500" height="320" cellpadding="2" cellspacing="0" border="1" class="tab">
        <tr>
            <th colspan="2" id="b">
                > Xperia Z2
            </th>
        </tr>
        <tr>
            <td rowspan="4" width="80" class="d" id="e">
                <img id="xperiaZ2" src="../Images/XperiaZ2.jpg" />
            </td>
            <td class="d" id="f">
                <div class="a">
                   > @Html.ActionLink("General", "Index", "Thread")
                    <div class="c">
                        Discussion about the Xperia Z2 (general, tips & tricks, etc)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                   > @Html.ActionLink("Q & A, Help & Troubleshooting", "Index", "Thread")
                    <div class="c">
                        For all your questions about the Xperia Z2
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                   > @Html.ActionLink("Roms and Mods", "Index", "Thread")
                    <div class="c">Roms and mods for the Xperia Z2</div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                   > @Html.ActionLink("Themes and Apps", "Index", "Thread")
                    <div class="c">Themes and applications for the Xperia Z2</div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="XperiaZ1">
    <table width="500" height="320" cellpadding="2" cellspacing="0" border="1" class="tab">
        <tr>
            <th colspan="2" id="b">
                > Xperia Z1
            </th>
        </tr>
        <tr>
            <td rowspan="4" width="100" class="d" id="e">
                <img src="../Images/XperiaZ1.jpg" />
            </td>
            <td class="d" id="f">
                <div class="a">
                   > @Html.ActionLink("General", "Index", "Thread")
                    <div class="c">
                        Discussion about the Xperia Z1 (general, tips & tricks, etc)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                   > @Html.ActionLink("Q & A, Help & Troubleshooting", "Index", "Thread")
                    <div class="c">
                        For all your questions about the Xperia Z1
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                   > @Html.ActionLink("Roms and Mods", "Index", "Thread")
                    <div class="c">Roms and mods for the Xperia Z1</div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d">
                <div class="a">
                   > @Html.ActionLink("Themes and Apps", "Index", "Thread")
                    <div class="c">Themes and applications for the Xperia Z1</div>
                </div>
            </td>
        </tr>
    </table>
</div>