﻿@model SonyPassionWeb.Models.Thread

<table cellpadding="2" cellspacing="0" border="1">
    <tr>
        <th class="title" colspan="2">
            <h3>[FTF] C6902 & C6903 & C6906 & C6943 FTF Mega Collection </h3>
            <div> nguyen </div>
        </th>
    </tr>
    <tr>
        <td class="author" style="background-color:#eeeeee;">
            <div> nguyen </div>
        </td>
        <td class="time">
            <div> 4th October 2013, 08:47 AM </div>
        </td>
    </tr>
    <tr>
        <td class="author">

        </td>
        <td class="content">
            <p>A big thank you to all the members who have contributed by creating the FTF's so other members just need to look in one thread. Please continue to support this thread, if you have a device with a different customization id then please consider creating the ftf, the more we have the easier it is for anyone to restore there device back to stock or just to flash a different regions firmware.

            Also Give  a BIG Thanks for Originally compiling all the links together & Maintaining this thread

            Flash using Flashtool, latest version can be found here! HERE Thanks to Flashtool.net

            GUIDE for flashing FTF's by krabappel2548 (be sure to give him a thanks), you do not need to be rooted or have the bootloader unlocked!!!!

            Want to know how to create the FTF's? Follow this great GUID by Apollo89 and be sure to hit him a thanks

            List of customization id's Here thanks to f3nix82</p>
            <div style="border-top: 1px solid; font-style:italic; color: #808080">
                Last edited by hyelton; 24th September 2014 at 04:20 AM. 
            </div>
        </td>
    </tr>
</table>

<table style="margin-top: 6%;">
    <tr>
        <td class="author" style="background-color:#eeeeee;">
            <div> nguyen </div>
        </td>
        <td class="time">
            <div> 4th October 2013, 08:47 AM </div>
        </td>
    </tr>
    <tr>
        <td class="author"></td>
        <td class="content">
            <p>
                A big thank you to all the members who have contributed by creating the FTF's so other members just need to look in one thread. Please continue to support this thread, if you have a device with a different customization id then please consider creating the ftf, the more we have the easier it is for anyone to restore there device back to stock or just to flash a different regions firmware.

                Also Give  a BIG Thanks for Originally compiling all the links together & Maintaining this thread

                Flash using Flashtool, latest version can be found here! HERE Thanks to Flashtool.net

                GUIDE for flashing FTF's by krabappel2548 (be sure to give him a thanks), you do not need to be rooted or have the bootloader unlocked!!!!

                Want to know how to create the FTF's? Follow this great GUID by Apollo89 and be sure to hit him a thanks

                List of customization id's Here thanks to f3nix82
            </p>
            <div style="border-top: 1px solid; font-style:italic; color: #808080">
                Last edited by hyelton; 24th September 2014 at 04:20 AM.
            </div>
        </td>
    </tr>
</table>