﻿@model SonyPassionWeb.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { id = "my-form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContentOfPost)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ContentOfPost)
            @Html.ValidationMessageFor(model => model.ContentOfPost)
        </div>
        @Html.Hidden("idthread", ViewData["idthread"])
        @*<div class="editor-label">
            @Html.LabelFor(model => model.DateOfPost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfPost)
            @Html.ValidationMessageFor(model => model.DateOfPost)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.ThreadID, "Thread")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ThreadID", String.Empty)
            @Html.ValidationMessageFor(model => model.ThreadID)
        </div>*@

        <p>
            <input type="submit" value="Post" />
        </p>
    </fieldset>
}
<script src="~/Scripts/_viewPost.js"></script>