﻿@model SonyPassionWeb.Models.Thread

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thread</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TitleOfThread)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TitleOfThread)
            @Html.ValidationMessageFor(model => model.TitleOfThread)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContentOfThread)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ContentOfThread)
            @Html.ValidationMessageFor(model => model.ContentOfThread)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.DateOfThread)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfThread)
            @Html.ValidationMessageFor(model => model.DateOfThread)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.LastTimeEdited)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastTimeEdited)
            @Html.ValidationMessageFor(model => model.LastTimeEdited)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.ForumID, "Forum")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ForumID", String.Empty)
            @Html.ValidationMessageFor(model => model.ForumID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileUserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserProfileUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
