﻿@model SonyPassionWeb.Models.Thread

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Thread</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TitleOfThread)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TitleOfThread)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfThread)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfThread)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastTimeEdited)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastTimeEdited)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Forum.ForumModel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Forum.ForumModel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
