﻿@model SonyPassionWeb.Models.Thread
@Styles.Render("~/Content/Style4.css")
@{
    ViewBag.Title = "Details";
}
@*@Html.Partial("_ThreadDetails",new SonyPassionWeb.Models.Thread(),ViewData)*@
<table class="table1" cellspacing="0" border="1" style="margin-bottom: 6%;">
    <tr>
        <th class="title" colspan="2">
            <h3> > @Html.DisplayFor(model => model.TitleOfThread) </h3>
            <div style="color: #2185ff; padding-left: 10px;"> 
            @*@Html.DisplayFor(model => model.UserProfile.UserName)*@
                <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> @Html.DisplayFor(model => model.UserProfile.UserName) </a> 
             </div>
        </th>
    </tr>
    <tr>
        <td class="author" style="background-color: #efefef;">
            <div style="color: #2185ff;"> <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> @Html.DisplayFor(model => model.UserProfile.UserName) </a>  </div>
        </td>
        <td class="time">
            <div style="color: #808080; font-style: italic;"> @Html.DisplayFor(model => model.DateOfThread) </div>
        </td>
    </tr>
    <tr>
        <td class="author" style="padding-top: 10px;"> 
            @*<div style="margin-top: 2px;">
                <img src="../../Images/Big_smile.png" width="100" height="100" />
                <div style="text-align: left; margin-top:5px; border-bottom: 1px solid #d8d8d8">
                    <div style="margin-top:5px; border-bottom: 1px solid #d8d8d8">
                        Level: V.I.P
                    </div>
                    <div style="margin-top:5px; border-bottom: 1px solid #d8d8d8">
                        Country: Viet Nam
                    </div>
                    <div style="margin-top:5px; border-bottom: 1px solid #d8d8d8">
                        Thanks Meter:   200
                    </div>
                    <div style="margin-top:5px; border-bottom: 1px solid #d8d8d8">
                        Posts:  1
                    </div>
                    <div style="margin-top:5px; border-bottom: 1px solid #d8d8d8">
                        Join Date: 11/12/2014
                    </div>
                </div>
            </div>*@               
        </td>
        <td class="content" rowspan="1">
            <div>
                @Html.DisplayFor(model => model.ContentOfThread)
                hello friends,
            </div>
            <div style="border-top: 1px solid #d8d8d8; font-style: italic; color: #808080; margin-bottom: -108px;" >
                Last edited by <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> @Html.DisplayFor(model => model.UserProfile.UserName) </a> ; @Html.DisplayFor(model => model.LastTimeEdited).
            </div>
        </td>
    </tr>
   @*<tr>
       <td class="replay" colspan="2" style=" background-color: #efefef;">
           <div style="float: right; border: 1px solid #d8d8d8; padding: 9px; margin: -4px; margin-right: -28px; padding-left: 13px; padding-right: 13px; background-color: #efefef;">
               @Html.ActionLink("Reply", "Create", "Post")
           </div>
       </td>
       </tr>*@
</table>

@foreach (var com in Model.Post.Take(10))
{
    <table class="table2" style=" margin-top: 2%;">

        <tr>
            <td class="author" style="background-color: #efefef;">
                <div style="color: #2185ff;"> @Html.DisplayFor(c => com.Author) </div>
            </td>
            <td class="time">
                <div style="color: #808080; font-style: italic;"> @Html.DisplayFor(c => com.DateOfPost) </div>
            </td>
        </tr>
        <tr>
            <td class="author">
                @*<div style="margin-top: 2px;">
                    <img src="../../Images/Big_smile.png" width="100" height="100" />
                    <div style="text-align: left; margin-top:5px; border-bottom: 1px solid #d8d8d8">
                        <div style="margin-top:5px; border-bottom: 1px solid #d8d8d8">
                            Level: V.I.P
                        </div>
                        <div style="margin-top:5px; border-bottom: 1px solid #d8d8d8">
                            Country: Viet Nam
                        </div>
                        <div style="margin-top:5px; border-bottom: 1px solid #d8d8d8">
                            Thanks Meter:   200
                        </div>
                        <div style="margin-top:5px; border-bottom: 1px solid #d8d8d8">
                            Posts:  1
                        </div>
                        <div style="margin-top:5px; border-bottom: 1px solid #d8d8d8">
                            Join Date: 11/12/2014
                        </div>
                    </div>
                </div>*@               
            </td>
            <td class="content" rowspan="2">
                <div>
                    @Html.DisplayFor(c => com.ContentOfPost)
                </div>
                <div style="border-top: 1px solid #d8d8d8; font-style: italic; color: #808080; margin-bottom: -33px;">
                    Last edited by @Html.DisplayFor(c => com.Author); 24th September 2014 at 04:20 AM.
                </div>
            </td>
        @*<tr>
                <td class="replay" colspan="2" style=" background-color: #efefef;">
                    <div style="float: right; border: 1px solid #d8d8d8; padding: 9px; margin: -4px; margin-right: -28px; padding-left: 13px; padding-right: 13px; background-color: #efefef;">
                        @Html.ActionLink("Delete", "" , "Post")
                    </div>
                </td>
            </tr>*@
    </table>
}
        @Html.Partial("_WritePost", new SonyPassionWeb.Models.Post(), ViewData)

    @*<h2>Details</h2>

        <fieldset>
            <legend>Thread</legend>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.TitleOfThread)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.TitleOfThread)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.DateOfThread)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DateOfThread)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Forum.ForumModel)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Forum.ForumModel)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.ContentOfThread)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ContentOfThread)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.UserProfile.UserName)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.UserProfile.UserName)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.LastTimeEdited)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LastTimeEdited)
            </div>


        </fieldset>

        <h2>Comment</h2>
        @Html.Partial("_WritePost",new SonyPassionWeb.Models.Post(),ViewData)
        <fieldset>
            <legend>Post</legend>
            <div id="result1">
                @foreach (var com in Model.Post.OrderByDescending(t => t.LastPost).Take(10))
                {
                    <div class="display-field">
                        <h5>@Html.DisplayFor(c => com.Author)</h5>
                        <h5>Cách đây: @Html.DisplayFor(c => com.LastPost) phút</h5>
                        @Html.DisplayFor(c => com.ContentOfPost)
                    </div>
                }
            </div>
        </fieldset>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id=Model.ThreadID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
