﻿@model IEnumerable<SonyPassionWeb.Models.Thread>
@Styles.Render("~/Content/Style3.css")
@{
    ViewBag.Title = "Forum";
}

<h2>Forum</h2>
<div id="b" style=" border: 1px solid; padding: 10px; width: 150px; text-decoration: none; background:#f9f9f9;">
    @Html.ActionLink("Create A New Thread", "Create")
</div>
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TitleOfThread)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfThread)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastTimeEdited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forum.ForumModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TitleOfThread)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfThread)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastTimeEdited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forum.ForumModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ThreadID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ThreadID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ThreadID })
        </td>
    </tr>
}*@

<table cellspacing="0" cellpadding="2" border="1">
    @foreach(var item in Model)
    { 
    <tr>
        <td class="thread-title">
            <h3 style=" color: #2185ff;"> @Html.DisplayFor(modelItem => item.TitleOfThread)   </h3>
            <div>Thread by
                <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> @Html.DisplayFor(modelItem => item.UserProfile.UserName) </a> 
            </div>
            @Html.ActionLink("Details", "Details", new { id = item.ThreadID })
        </td>
        <td class="thread-info">
            <div class="a">
                <div>@Html.DisplayFor(modelItem => item.DateOfThread) </div>
                <div>by <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> @Html.DisplayFor(modelItem => item.UserProfile.UserName) </a>  </div>
             </div>
        </td>
    </tr>
    }
</table>
