﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("SONY PASSION", "Index", "SonyPassion")</p>
                    <nav style="margin-top:20px;margin-left:-15px;">
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "SonyPassion")</li>
                            <li>@Html.ActionLink("Forum", "Index", "Forum")</li>
                            <li>@Html.ActionLink("Xperia", "Index", "Xperia")</li>
                            <li>@Html.ActionLink("Headphones & Earbuds", "Index", "HeadphonesEarbuds")</li>
                            <li>@Html.ActionLink("SmartWatch", "Index", "SmartWatch")</li>
                            <li>@Html.ActionLink("Video", "Index", "Video")</li>
                            <li>@Html.ActionLink("Specs", "Index", "SpecDetails")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @*<nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "SonyPassion")</li>
                            <li>@Html.ActionLink("Forum", "Index", "Forum")</li>
                            <li>@Html.ActionLink("Xperia", "Index", "Xperia")</li>
                            <li>@Html.ActionLink("Headphones & Earbuds", "Index", "HeadphonesEarbuds")</li>
                            <li>@Html.ActionLink("SmartWatch", "Index", "SmartWatch")</li>
                            <li>@Html.ActionLink("Video", "Index", "Video")</li>
                            <li>@Html.ActionLink("Spec", "Index", "Spec")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>*@
                </div>
           </div>
        </header>
        <div id="body" style="margin-top:-13px;">
            
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
    </body>
</html>
