﻿@model SonyPassionWeb.Models.News
@Styles.Render("~/Content/Style2.css")
<div class="box">
    <div class="news-title">
        <h2> > @Html.DisplayFor(model => model.Title) </h2>
        <div class="news-info">
            Posted by: Hùng Vũ  19/10/2014	in Video, Xperia 7 Comments 
        </div>
    </div>
    <div class="news-content">
        <img class="Text-Wrap" src="../../Images/z3_eyes-640x360.jpg" width="300" height="200" />
        <p>Chúng ta thường coi Xperia như một chiếc smartphone để giải trí và liên lạc cá nhân, nhưng giá trị của nó đâu có đơn giản chỉ có vậy.
         Tại Châu Phi, Xperia Z3 đã góp phần không nhỏ cho cộng đồng khi nó đã được chọn để đồng hành với các bác sĩ nhãn khoa thăm khám và chữa các bệnh về mắt cho những người dân nghèo ở đây.</p>
        <p>Theo đó, do phải tới các vùng nông thôn xa xôi tại Châu Phi nên việc vận chuyển các thiết bị máy móc để soi khám mắt rất khó khăn, nhất là các vùng không có điện nữa thì nó hoàn toàn vô dụng.
         Chính vì vậy, một nhóm các bác sĩ đã có sáng kiến sử dụng Xperia Z3 với camera nét, màn hình lớn đã thực hiện chụp hình cận cảnh đôi mắt người bệnh, sau đó đưa ra các phán đoán về bệnh lý.
         Nhờ thời lượng pin của máy khá tốt nên nhóm bác sĩ có thể làm việc tới 2 ngày mà không cần phải dùng tới nguồn điện.</p>
        <p>Đây thực sự là một dự án mang tính nhân văn rất cao, Xperia Z3 đã làm được rất nhiều giá trị khó có thể đo đếm được.
         Một vài thông tin không phải ai cũng biết được đó là trên thế giới có 285 triệu người khiếm thị, trong đó có 39 triệu người bị mù, nhưng bạn có thể shock khi biết rằng 80% trong số đó đáng lẽ đã tránh được nếu được thăm khám kịp thời.</p>
    </div>
    <div class="news-tag">
        Tag: Xperia Z3
    </div>
</div>

<div class="box">
    oasovboawvovowehovbuhweuvhowuhvowh
    asddasdhjaskdhashdasuhdvsadvasdva
</div>