﻿@model SonyPassionWeb.Models.News
@Styles.Render("~/Content/Style2.css")
@{
    ViewBag.Title = "Details";
}
@*@Html.Partial("_newsDetails",new SonyPassionWeb.Models.News(),ViewData)*@
<fieldset>
    <legend>News</legend>
    <div class="box" style="background:#f9f9f9;">
        <div class="news-title" style="padding-top:1px;">
            <h2> > @Html.DisplayFor(model => model.Title) </h2>
            <div class="news-info">
                Posted by: <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> @Html.DisplayFor(model => model.UserProfile.UserName) </a>  at @Html.DisplayFor(model => model.DateUpLoad)
            </div>
        </div>
        <div class="news-content">
            <p>
                @Html.DisplayFor(model => model.Body)
            </p>         
        </div>
        <div class="news-tag">
            Tag:
            @foreach(var tag in Model.Tags)
            {
                <i style="color: #2185ff;">@Html.DisplayFor(t => tag.Content)</i>
            }
        </div>
    </div>

    <div class="box" style="box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8; background: #f9f9f9;">
        <div style="border-bottom: 1px solid #d3d3d3; padding: 10px; font-size: 15px; box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;">
            <b> @Html.DisplayNameFor(model => model.Comments) </b>
        </div>

        <div style="padding-left: 20px; padding-top: 10px;">
            @Html.Partial("_WriteComment", new SonyPassionWeb.Models.Comment(), ViewData)
            <fieldset>
                <legend>Comment</legend>
                <div id="result">
                    @foreach (var com in Model.Comments.OrderByDescending(t => t.DateComment).Take(10))
                    {
                        <div class="display-field" style="display: inline; padding-right: 10px; font-size: 16px;">
                            <b style="color: #2185ff;">@Html.DisplayFor(c => com.Author)</b> - <i style="color:#808080; font-style:italic; font-size:13px;">@Html.DisplayFor(c => com.LastComment) phút</i>
                        </div>
                        <div style="font-size: 16px; padding-bottom: 10px;">
                            @Html.DisplayFor(c => com.Content)
                        </div>
                    }
                </div>
            </fieldset>
        </div>
    </div>
    @*@*<div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    @*<div class ="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>*@
    @*@<div class="news-title">
    <h2> > @Html.DisplayFor(model => model.Title) </h2>
    <div class="news-info">
        Posted by: Hùng Vũ  19/10/2014	in Video, Xperia 7 Comments
    </div>
        </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateUpLoad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpLoad)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>*@
    
    @*<div class="display-label">
             @Html.DisplayNameFor(model => model.SonyPassion.SonyPassionID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SonyPassion.SonyPassionID)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Xperia.XperiaID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Xperia.XperiaID)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.SmartWatch.SmartWatchID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SmartWatch.SmartWatchID)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.HeadphonesEarbuds.HeadphonesEarbudsID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HeadphonesEarbuds.HeadphonesEarbudsID)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Video.VideoID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Video.VideoID)
        </div>*@

    @*<div class="display-label">
                 @Html.DisplayNameFor(model => model.UserProfile.UserName)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.UserProfile.UserName)
            </div>*@
        </fieldset>


    @*<h2>Comment</h2>
        @Html.Partial("_WriteComment", new SonyPassionWeb.Models.Comment(), ViewData)
        <fieldset>
            <legend>Comment</legend>
            <div id="result">
                @foreach (var com in Model.Comments.OrderByDescending(t => t.DateComment).Take(10))
                {
                    <div class="display-field">
                        <h5>@Html.DisplayFor(c => com.Author)</h5>
                        <h5>Cách đây: @Html.DisplayFor(c => com.LastComment) phút</h5>
                        @Html.DisplayFor(c => com.Content)
                    </div>
                }
            </div>
        </fieldset>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id=Model.NewsID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
