﻿@model SonyPassionWeb.Models.News

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>News</legend>

        @Html.HiddenFor(model => model.NewsID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateUpLoad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateUpLoad)
            @Html.ValidationMessageFor(model => model.DateUpLoad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SonyPassionID, "SonyPassion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SonyPassionID", String.Empty)
            @Html.ValidationMessageFor(model => model.SonyPassionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XperiaID, "Xperia")
        </div>
        <div class="editor-field">
            @Html.DropDownList("XperiaID", String.Empty)
            @Html.ValidationMessageFor(model => model.XperiaID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SmartWatchID, "SmartWatch")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SmartWatchID", String.Empty)
            @Html.ValidationMessageFor(model => model.SmartWatchID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HeadphonesEarbudsID, "HeadphonesEarbuds")
        </div>
        <div class="editor-field">
            @Html.DropDownList("HeadphonesEarbudsID", String.Empty)
            @Html.ValidationMessageFor(model => model.HeadphonesEarbudsID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VideoID, "Video")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VideoID", String.Empty)
            @Html.ValidationMessageFor(model => model.VideoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileUserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserProfileUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
