﻿@model IEnumerable<SonyPassionWeb.Models.News>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpLoad)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SonyPassion.SonyPassionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Xperia.XperiaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmartWatch.SmartWatchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeadphonesEarbuds.HeadphonesEarbudsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video.VideoID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpLoad)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SonyPassion.SonyPassionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Xperia.XperiaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmartWatch.SmartWatchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeadphonesEarbuds.HeadphonesEarbudsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Video.VideoID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NewsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NewsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NewsID })
        </td>
    </tr>
}

</table>
