﻿@model SonyPassionWeb.Models.News
@Styles.Render("~/Content/Style.css")
<div class="container">
    <div class="box-border">
        <div class="box-news-left" >
            <div class="title">
                <h2> @Html.ActionLink("> Xperia Z3 đã giúp các bác sĩ ở Châu Phi phát hiện các bệnh về mắt", "Details/5", "News") </h2>
            </div>
            <div class="info" >
                <div class="info-deltail">
                    Posted at 12/4/2014 8:45:55 PM by <div style="color: blue; display: inline;">
                    <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> nguyen </a> 
                    </div>
                </div>
            </div>
            <div class="content">
                <p>
                    <img class="Text-Wrap" src="../../Images/z3_eyes-640x360.jpg" width="200" height="130" />
                    Chúng ta thường coi Xperia như một chiếc smartphone để giải trí và liên lạc cá nhân, nhưng giá trị của nó đâu có đơn giản chỉ có vậy.
                    Tại Châu Phi, Xperia Z3 đã góp phần không nhỏ cho cộng đồng khi nó đã được chọn để đồng hành với các bác sĩ nhãn khoa thăm khám và chữa các bệnh về mắt cho những người dân nghèo ở đây.
                </p>
            </div>
            <div class="other" style="border-top: 1px solid #d3d3d3; padding: 10px; padding-top: 7px; text-align:right;">
                @Html.ActionLink("Read On -->>", "Details/5", "News")
            </div>
        </div>
        <div class="box-news-right">
            <div class="title">
                <h2> @Html.ActionLink("> Mở hộp SmartWatch 3 đầu tiên tại Việt Nam", "Details/6", "News") </h2>
            </div>
            <div class="info">
                <div class="info-deltail">
                    Posted at 12/5/2014 10:25:47 PM by <div style="color: blue; display: inline;">
                    <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> nguyen </a>
                     </div>
                </div>
            </div>
            <div class="content">
                <p>
                    <img class="Text-Wrap" src="../Images/mo_hop_smartwacth_3_241.jpg" width="200" height="130" />Ra mắt hồi tháng 9 vừa qua tại sự kiện IFA 2014 và mới chỉ bán hạn chế một số thị trường nhưng chiếc đồng thông minh thế hệ mới nhất của Sony là SmartWacth 3 đã đặt chân tới Việt Nam thông qua cửa hàng XperiaShop.vn.
                    SmartWacth 3 được chú ý bởi đây là thiết bị đeo tay đầu tiên của Sony chạy nền tảng hệ điều hành Android Wear giống như trên các đồng hồ thông minh ra mắt gần đây như Moto 360, LG G Watch.
                </p>
            </div>
            <div class="other" style="border-top: 1px solid #d3d3d3; padding: 10px; padding-top: 7px; text-align:right;">
                @Html.ActionLink("Read On -->>", "Details/6", "News")
            </div>
        </div>
    </div>

    <div class="box-border">
        <div class="box-news-left">
            <div class="title">
                <h2> @Html.ActionLink("> Xperia Z3, Z3 Compact chuẩn bị có FW mới (23.0.1.A.5.77)", "Details/7", "News") </h2>
            </div>
            <div class="info">
                <div class="info-deltail">
                    Posted at 12/5/2014 10:27:42 PM by <div style="color: blue; display: inline;">
                    <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> nguyen </a> 
                    </div>
                </div>
            </div>
            <div class="content">
                <p>
                    <img class="Text-Wrap" src="../Images/xperia_z3_copper.png" width="200" height="130" />Bộ đôi Xperia cao cấp nhất hiện nay đang được Sony chăm chút phần mềm khá thương xuyên, sắp tới bộ đôi này sẽ được nâng cấp từ bản 23.0.A.2.105 lên bản 23.0.1.A.5.77.
                     Đây là bản cập nhật nhỏ tập trung vào tối ưu hóa FW cũng như fix các lỗi nhỏ người dùng báo cáo thời gian qua.
                </p>
            </div>
            <div class="other" style="border-top: 1px solid #d3d3d3; padding: 10px; padding-top: 7px; text-align:right;">
                @Html.ActionLink("Read On -->>", "Details/7", "News")
            </div>
        </div>
        <div class="box-news-right">
            <div class="title">
                <h2> @Html.ActionLink("> Xperia Z Ultra Google Edition đã được lên Android 5.0", "Details/8", "News") </h2>
            </div>
            <div class="info">
                <div class="info-deltail">
                    Posted at 12/5/2014 10:29:45 PM by <div style="color: blue; display: inline;">
                      <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> nguyen </a> 
                    </div>
                </div>
            </div>
            <div class="content">
                <p>
                    <img class="Text-Wrap" src="../Images/sony-xperia-z-ultra.jpg" width="200" height="130" />Đại diện duy nhất của Sony góp mặt trong series dòng máy Google Play Edition được hỗ trợ nâng cấp FW trực tiếp từ Google đã chính thức được lên hệ điều hành Android 5.0 mới nhất,
                     trong khi đó những người anh em khác phải đợi Sony tới đầu năm sau mới được cập nhật.
                </p>
            </div>
            <div class="other" style="border-top: 1px solid #d3d3d3; padding: 10px; padding-top: 7px; text-align:right;">
                @Html.ActionLink("Read On -->>", "Details/8", "News")
            </div>
        </div>
    </div>

    <div class="box-border">
            <div class="box-news-left">
                <div class="title">
                    <h2> @Html.ActionLink("> Xperia Z1, Z2, Z3 chính hãng đồng loạt giảm giá tới 1,5tr đồng", "Details/9", "News") </h2>
                </div>
                <div class="info">
                    <div class="info-deltail">
                       Posted at 12/5/2014 10:30:52 PM by <div style="color: blue; display: inline;">
                        <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> nguyen </a> 
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>
                        <img class="Text-Wrap" src="../Images/sony-xperia-z2-vs-xperia-z1.jpg" width="200" height="130" />Xperia Z3 đã giảm độ nóng, nhất là sự xuất hiện của iPhone 6 chính hãng có giá tương đối tốt nên việc Sony Việt Nam giảm giá Xperia Z3 là điều khá dễ hiểu.
                         Kéo theo đó là các mẫu máy thấp hơn như Z2, Z1 cũng được giảm giá theo.
                    </p>
                </div>
                <div class="other" style="border-top: 1px solid #d3d3d3; padding: 10px; padding-top: 7px; text-align:right;">
                    @Html.ActionLink("Read On -->>", "Details/9", "News")
                </div>
            </div>
        <div class="box-news-right">
            <div class="title">
                <h2> @Html.ActionLink("> SmartBand Talk, SmartWatch 3 có giá 4tr1 và 6tr2 tại Đài Loan", "Details/10", "News") </h2>
            </div>
            <div class="info">
                <div class="info-deltail">
                    Posted at 12/5/2014 10:32:43 PM by <div style="color: blue; display: inline;">
                    <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> nguyen </a>
                     </div>
                </div>
            </div>
            <div class="content">
                <p>
                    <img class="Text-Wrap" src="../Images/smartband_talk.jpg" width="200" height="130" />Thị trường mệnh danh có giá bán các sản phẩm của Sony Mobile tốt nhất tại khu vực Châu Á. Tuy nhiên đối với thiết bị đeo tay thì có vẻ không phải vậy.
                     Mức giá vòng đeo tay SmartBand Talk tại Đài Loan được định giá 5.990 Đài tệ tương đương 4,1tr đồng, đồng hồ SmartWatch 3 có giá cao hơn ở mức 8.990 Đài tệ tương đương 6,2tr đồng.
                </p>
            </div>
            <div class="other" style="border-top: 1px solid #d3d3d3; padding: 10px; padding-top: 7px; text-align:right;">
                @Html.ActionLink("Read On -->>", "Details/10", "News")
            </div>
        </div>   
    </div>
    <div class="box-border">
        <div class="box-news-left">
            <div class="title">
                <h2> @Html.ActionLink("> Mở hộp tai nghe hàng khủng XBA-Z5, giá 12tr8", "Details/11", "News") </h2>
            </div>
            <div class="info">
                <div class="info-deltail">
                    Posted at 12/5/2014 10:30:52 PM by <div style="color: blue; display: inline;">
                        <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> nguyen </a>
                    </div>
                </div>
            </div>
            <div class="content">
                <p>
                    <img class="Text-Wrap" src="../Images/xba_z5_unbox_15.jpg" width="200" height="130" />Đôi với những người chơi âm thanh thì việc đầu tư một chiếc máy nghe nhạc như Walkman ZX1 có giá tầm 18tr đồng thì sắm thêm một chiếc tai nghe có giá 12,8tr như chiếc MDR-Z5 dưới đây thì cũng nên chỉ coi là việc nên làm và “quá là điều bình thường luôn”.
                    Bỏ ra một số tiền lớn, tất nhiên bạn sẽ nhật được một chiếc tai nghe có giá trị xứng tầm, âm thanh đỉnh cao, “Made in Japan” chất lượng. Dưới đây là loạt hình ảnh mở hộp chiếc tai nghe này tại Nhật Bản. Phụ kiện đi kèm gồm có bao da, nhiều típ với size khác nhau, dây đôi thông thường và một bộ dây đơn để kết nối với headamp cao cấp.
                </p>
            </div>
            <div class="other" style="border-top: 1px solid #d3d3d3; padding: 10px; padding-top: 7px; text-align:right;">
                @Html.ActionLink("Read On -->>", "Details/11", "News")
            </div>
        </div>
        <div class="box-news-right">
            <div class="title">
                <h2> @Html.ActionLink("> Trên tay bộ đôi Walkman A15, A17 tại VN, giá từ 4tr5", "Details/12", "News") </h2>
            </div>
            <div class="info">
                <div class="info-deltail">
                    Posted at 12/5/2014 10:32:43 PM by <div style="color: blue; display: inline;">
                        <a href="http://localhost:51244/Account/Manage" id="account" style="color: #2185ff;"> nguyen </a>
                    </div>
                </div>
            </div>
            <div class="content">
                <p>
                    <img class="Text-Wrap" src="../Images/tren_tay_walkman_a15_1.jpg" width="200" height="130" />Cũng tại sự kiện IFA 2014 tổ chức hồi tháng 9 vừa qua, Sony đã bổ sung cho gia đình Walkman của mình thêm một model mới là Walkman A15 và A17. Về cơ bản 2 mẫu này đều giống nhau chỉ khác về dung lượng bộ nhớ lần lượt là 16GB và 32GB.
                </p>
            </div>
            <div class="other" style="border-top: 1px solid #d3d3d3; padding: 10px; padding-top: 7px; text-align:right;">
                @Html.ActionLink("Read On -->>", "Details/12", "News")
            </div>
        </div>   
     </div>
 </div>