﻿@model SonyPassionWeb.Models.SonyPassion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SonyPassion</legend>
</fieldset>

<fieldset>
        @foreach(var news in Model.News)
        {
            <div class="display-field">
                <h2>@Html.ActionLink(news.Title,"Details/" + news.NewsID,"News")</h2>
            </div>
            <div class="display-field">
                @Html.DisplayFor(n => news.Body)
            </div>
        }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SonyPassionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
