﻿@model IEnumerable<SonyPassionWeb.Models.SonyPassion>

@{
    ViewBag.Title = "SonyPassion";
}

@*<h2>Sony Passion</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@Html.Partial("_ViewNews",new SonyPassionWeb.Models.News(),ViewData)



@*<table>
<tr>
</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SonyPassionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SonyPassionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SonyPassionID })
        </td>
    </tr>
}
</table>*@
