﻿@model IEnumerable<SonyPassionWeb.Models.Spec>
@Styles.Render("~/Content/Style5.css")
@{
    ViewBag.Title = "Index";
}

@*@*<h2>Index</h2>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpecID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpecID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpecID })
        </td>
    </tr>
}

</table>