﻿@model SonyPassionWeb.Models.HeadphonesEarbuds

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

@*<fieldset>
    <legend>HeadphonesEarbuds</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.HeadphonesEarbudsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@v
